<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      form{
          border: 1px solid #ddd;
          padding: 5px;
          width: 225px;
          background: #efefef;
      }
      label{
          display: block;
          margin-top: 5px;
      }
      input, textarea, select, option {
          min-width: 200px;
      }
  </style>
</head>
<body>
  <div id="app">
    <form @submit.prevent="submitForm()">
        <p v-if="errors.length">        
            <b> Tolong perbaiki eror berikut :</b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </p>
        <label>Name : </label>
        <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name">
        <label>Address : </label>
        <textarea :disabled="buttonStatus == 'upload'" name="address" ref="address" v-model="address"> </textarea>
        <label>Phone Number : </label>
        <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp">
        <div v-if = "buttonStatus == 'submit'">       
            <input type="submit" value="SUBMIT">
        </div>
        <div v-else-if = "buttonStatus == 'update'">       
            <input type="button" value="UPDATE" @click="updateMember(idEdit)">
            <input type="button" value="CANCEL" @click="clearForm()" style = 'margin-top:5px'>
        </div>
        <div v-else-if = "buttonStatus == 'upload'">       
            <input type="file" name="photo" ref="photo" style = 'margin-top: 5px'>
            <input type="button" value="UPLOAD" @click="uploadMember(idUpload)" style = 'margin-top: 5px'>
            <input type="button" value="CANCEL" @click="clearForm()" style = 'margin-top:5px'>
        </div>

    </form>     
     <!-- <table border = 1>
        <tr v-for = "member of members">
            <td>
                <img width = 100 :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/600x400/000/fff' " alt="">
            </td>
            <td>
                <b>Nama : </b> {{member.name}} <br>
                <b>Address : </b> {{member.address}} <br>
                <b>no_hp : </b> {{member.no_hp}} <br>
            </td>
            <td>
                <button @click="editMember(member)">Edit</button>
                <button @click="removeMember(member.id)">Hapus</button>
                <button @click="uploadPhoto(member)">Upload Foto</button>
                <button v-if = "hanyaSatu == false" @click="getOneMember(member.id)">Tampilkan member ini saja</button>
            </td>
        </tr>
    </table>        -->
    <table border = 1>
        <tr is="members-component"
        v-for = "member in members"
        :member = "member" 
        :photo-domain="photoDomain" 
        :hanya-satu="hanyaSatu">
    </tr>
    </table>
    <button v-if = "hanyaSatu == true" @click="getAllMember()">Tampilkan Semua</button>   
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    var MembersComponent = {
        template :`
        <tbody>
        <tr>
            <td>
                <img width = 100 :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/600x400/000/fff' " alt="">
            </td>
            <td>
                <b>Nama : </b> {{member.name}} <br>
                <b>Address : </b> {{member.address}} <br>
                <b>no_hp : </b> {{member.no_hp}} <br>
            </td>
            <td>
                <button @click="editMember(member)">Edit</button>
                <button @click="removeMember(member.id)">Hapus</button>
                <button @click="uploadPhoto(member)">Upload Foto</button>
                <button v-if = "hanyaSatu == false" @click="getOneMember(member.id)">Tampilkan member ini saja</button>
            </td>
        </tr>
        </tbody>
            `,
        props : ['member', 'members', 'photo-domain', 'hanya-satu'],
        data: function () {
            return {
                
            } 
        },

        methods : {
            getAllMember : function(){
                this.$parent.getAllMember()
                    },

            getOneMember : function(id){
                this.$parent.getOneMember(id)
                    },

            removeMember : function(id){
                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : "DELETE"}

                    }
                    axios(config)
                        .then( (response) => {
                                // handle success
                                this.getAllMember()
                                alert(response.data.message)
                            })
                        .catch( (error) => {
                                // handle error
                                console.log(error);
                            })
                },
            editMember : function(member){
                this.$parent.editMember(member)
                },
            uploadPhoto : function(member){
                this.$parent.uploadPhoto(member)
                },
        }
        
    }

    var vm = new Vue({
            el: '#app',
            components : {
                'members-component' : MembersComponent
            },
            data: { 
            photoDomain : 'http://demo-api-vue.sanbercloud.com',
            members : [],
            name : '',
            address : '',
            no_hp : '',
            errors : [],
            buttonStatus : 'submit',
            idEdit : null,
            idUpload : null,
            hanyaSatu : false
            },
        
            computed: {
            },

            methods : {
                inputValidation : function(){
                    this.errors = []
                    if(isNaN(this.no_hp)){
                        this.errors.push('No HP berisi selain angka.')
                        this.$refs.no_hp.focus()
                    }
                    if(this.name.length == 0){
                        this.errors.push('Nama tidak boleh kosong')
                        this.$refs.name.focus()
                    }
                    if(this.address.length == 0){
                        this.errors.push('Alamat tidak boleh kosong')
                        this.$refs.address.focus()
                    }
                    if(this.no_hp.length == 0){
                        this.errors.push('Nomor HP tidak boleh kosong')
                        this.$refs.no_hp.focus()
                    }
                },

                clearForm : function(){
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEdit = null
                    this.idUpload = null
                },

                submitForm : function(){
                    this.inputValidation()
                    if(this.errors.length === 0){

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method : "post",
                            url : "http://demo-api-vue.sanbercloud.com/api/member",
                            data : formData
                        }
                        axios(config)
                        .then( (response) => {
                            // handle success
                            this.clearForm()
                            this.getAllMember()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            // handle error
                            console.log(error);
                        })

                    }
                },
                getAllMember : function(){
                    const config = {
                        method : "get",
                        url : "http://demo-api-vue.sanbercloud.com/api/member"
                    }
                    // Make a request for a user with a given ID
                    axios(config)
                        .then( (response) => {
                                // handle success
                                this.members = response.data.members;
                                this.hanyaSatu = false
                                // alert(response.data.message);
                            })
                        .catch( (error) => {
                                // handle error
                                console.log(error);
                            })
                    },

                getOneMember : function(id){
                    const config = {
                        method : "get",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`
                    }
                    // Make a request for a user with a given ID
                    axios(config)
                        .then( (response) => {
                                // handle success
                                this.members = [response.data.member]
                                this.hanyaSatu = true
                                alert(response.data.message)
                            })
                        .catch( (error) => {
                                // handle error
                                console.log(error);
                            })
                    },

                editMember : function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEdit = member.id
                },
                updateMember : function(id){
                    this.inputValidation()
                    if(this.errors.length === 0){
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params : {_method : 'PUT'},
                        data : formData,
                        }
                        
                        axios(config)
                        .then( (response) => {
                                // handle success
                                alert(response.data.message);
                                this.clearForm()
                                this.getAllMember()

                            })
                        .catch( (error) => {
                                // handle error
                                console.log(error);
                            })
                    }
                },
                uploadPhoto : function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUpload = member.id
                },
                
                uploadMember : function(id){
                if(this.$refs.photo.files[0]){
                    let file = this.$refs.photo.files[0]
                    formData = new FormData()
                    formData.append('photo_profile', file)
                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data : formData,
                        }
                    axios(config)
                    .then( (response) => {
                        // handle success
                        this.clearForm()
                        alert(response.data.message);
                        this.getAllMember()

                            })
                    .catch( (error) => {
                        // handle error
                        console.log(error);
                    })
                } else {alert("Upload foto terlebih dahulu")}
                }
                },
            
            created(){
                this.getAllMember()
                    
                },

    })
  </script>
</body>
</html>