<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-if = 'tak_edit'><input v-model="nama_baru"><button onclick="vm.tambah()">add</button> </div>
    <div v-if = 'tak_edit == false'><input v-model="nama_edit"><button onclick="vm.edit()">edit</button> </div>
    <ul>
      <li v-for="(user, index) in users" :key="user.name">
        {{ user.name }} <button v-on:click="tak_edit = false; index_edit = index">edit</button>||<button onclick="vm.delete('index')">delete</button>
      </li>
    </ul>             
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: { 
          tak_edit : true,
          index_edit : 0,
          nama_baru : '',
          nama_edit : '',
          users: [
              {
                  'name' : 'Muhammad Iqbal Mubarok'
              },
              {
                  'name' : 'Ruby Purwanti',
              },
              {
                  'name' : 'Faqih Muhammad',
              }
          ],
      },
      
      computed: {
        },

      methods : {
        tambah(){
                this.users.push({
                    name: this.nama_baru,
                })
                this.nama_baru = '';
            },
        edit(){
                this.users.splice(this.index_edit, 1, {name: this.nama_edit});
                this.tak_edit = true;
                this.nama_baru = '';
                this.nama_edit = '';
            },
        delete(index) {
            if(confirm("Apakah anda yakin?")){
                this.users.splice(index, 1);
            }
            },
      },
  })
  </script>
</body>
</html>