<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div id="app">
  
        <h1>Selamat Datang {{name}}</h1>
        <h1>Ini fungsi login dan routingnya memang belum disambung karena belum masuk tugas.</h1>
    
        <!-- Pengganti tag <a href=""></a>  -->
        <router-link to="/">Home</router-link>    
        <router-link to="/halaman1">Halaman 1</router-link>
        <router-link to="/halaman2">Halaman 2</router-link>        
        <router-link to="/halaman3">Halaman 3</router-link> 
        <input v-if = "isLogin == false" type="button" value="login" @click="login()" style = 'margin-left:5px'>
        <input v-if = "isLogin == true" type="button" value="logout" @click="logout()" style = 'margin-left:5px'>      
        <hr>
        
    
        <!-- Untuk Menampilkan component secara dinamis , sesuai dengan route yang diakses -->
        <router-view></router-view>
    </div>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<script type="module">

  const Home = { template: '<div>Ini Halaman Home</div>' }
  const Component1 = { template: '<div>Ini Halaman 1</div>' }
  const Component2 = { template: '<div>Ini Halaman 2</div>' }
  const Component3 = { template: '<div>Ini Halaman 3</div>' }
  
  
  // Mengarakan route ke komponen
  const routes = [
        { path: '/', component: Home, alias: '/home' },
        { path: '*', redirect: '/' },
        { path: '/halaman1', component: Component1 },
        { path: '/halaman2', component: Component2, meta: { login: true } },
        { path: '/halaman3', component: Component3, meta: { admin:true } },

    ]
 
  
  
  //Inisiasi dan penambahan route
  const router = new VueRouter({
    routes 
  })

 //Navigation Guard
  router.beforeEach((to, from, next) => {
    if (to.matched.some(record => record.meta.login)) {
      let isLogin = false;
      if (!isLogin) {
        alert("Halaman ini hanya untuk user yang sudah login")
        next(false)
      } else {
        next()
      }
    } else {
      next() // make sure to always call next()!
    }
  })
  router.beforeEach((to, from, next) => {
    if (to.matched.some(record => record.meta.admin)) {
      let role = null;
      let isLogin = false;
      if (!isLogin && (role != 'admin')) {
        alert("Anda harus login terlebih dahulu sebagai user dengan role admin")
        next(false)
      } else if (isLogin && role != 'admin'){
        alert("Anda tidak memiliki role sebagai admin, anda harus login sebagai user dengan role admin untuk masuk halaman ini")
        next(false)
      } else if (!isLogin && role == 'admin'){
        alert("Ini kondisi yang seharusnya tidak mungkin terjadi karena untuk dapat role admin harus login dahulu")
        next(false)
      } else {
        next()
      }
    } else {
      next() // make sure to always call next()!
    }
  })
  
  //Kemudian kita tambahkan object VueRouter yang kita namakan router ke object Vue
  
  var vm = new Vue({ 
     el: '#app', 
     router, 
     data : {
       isLogin : false,
       name : null,
       password : null,
       role : null,
       admin : {
         name : 'admin',
         password : 'admin',
         role : 'admin'
       },

     },
     methods : {
       loginform : function(){
         this.name = prompt("Masukkan username");
         this.password = prompt("Masukkan password");
        },
       login : function(){
         this.loginform()
         if(this.name == this.admin.name && this.password == this.admin.password){
           this.isLogin = true;
           this.role = this.admin.role;
           alert("Selamat datang Admin.")
         }
         else if (this.name == this.admin.name && this.password != this.admin.password){
          alert("Password Admin salah!")
         }
         else if (this.name == null && this.password == null){
           alert("Tolong isi dengan lengkap!")
         }
         else {
          this.isLogin = true
          alert(`Selamat datang ${this.name}`)
         }
       },
       logout : function(){
         this.isLogin = false;
         this.name = null;
         this.role = null;
       },
     }
    })
  
</script>
</body>
</html>