<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input v-model="kata_kunci" placeholder="ketikkan kata kunci">
    <ul>
      <li v-for="book in filteredBooks" :key="book">
        {{ book }}
      </li>
    </ul>             
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: { 
          kata_kunci : '',
          books : [
                'Kalkululus Dasar',
                'Fisika Dasar',
                'Aljabar Linier Elementer',
                'Aljabar Abstrak',
                'Algoritma Pemrograman'
                ],
      },
      
      computed: {
          filteredBooks() {
              tempBooks = this.books.filter((item) => {
                  return item
                  .toLowerCase()
                  .includes(this.kata_kunci.toLowerCase())
                })
              
            return tempBooks
          }
        },

      methods : {},
  })
  </script>
</body>
</html>